<mat-toolbar color="primary">
  <span>Meu Aplicativo</span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de usuários</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="users">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-icon-button (click)="editUser(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['id', 'name', 'email', 'actions']"></mat-header-row>
      <mat-row *matRowDef="let user; columns: ['id', 'name', 'email', 'actions']"></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addUser()">Adicionar usuário</button>
  </mat-card-actions>
</mat-card>

<mat-dialog-container>
  <app-user-dialog [user]="selectedUser" (save)="saveUser($event)" (cancel)="cancelEdit()"></app-user-dialog>
</mat-dialog-container>